n8n_workflows_export.json
[
  {
    "id": "az900sched001",
    "name": "AZ-900 Scheduler",
    "description": null,
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "az900-lesson",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "az900-sched-01",
        "name": "Lesson Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          300
        ],
        "webhookId": "az900-lesson-webhook"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5901/lesson",
          "options": {
            "timeout": 300000
          }
        },
        "id": "az900-sched-02",
        "name": "Run Lesson",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-lesson-sent",
                "leftValue": "={{ $json.lesson_sent }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "name": "filter.operator.true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "az900-sched-03",
        "name": "Lesson Sent?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "resume": "timeInterval",
          "unit": "minutes",
          "amount": 5
        },
        "id": "az900-sched-04",
        "name": "Wait 5 Min",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          920,
          240
        ],
        "webhookId": "az900-wait-5min"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5901/quiz",
          "options": {
            "timeout": 300000
          }
        },
        "id": "az900-sched-05",
        "name": "Run Quiz",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1160,
          240
        ]
      }
    ],
    "connections": {
      "Lesson Webhook": {
        "main": [
          [
            {
              "node": "Run Lesson",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Lesson": {
        "main": [
          [
            {
              "node": "Lesson Sent?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lesson Sent?": {
        "main": [
          [
            {
              "node": "Wait 5 Min",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Wait 5 Min": {
        "main": [
          [
            {
              "node": "Run Quiz",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true
    },
    "pinData": {},
    "createdAt": "2026-03-26 14:40:36.458",
    "updatedAt": "2026-03-26 14:40:36.458"
  },
  {
    "id": "az900answ001",
    "name": "AZ-900 Answer Handler",
    "description": null,
    "active": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "id": "az900-ans-01",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          300
        ],
        "webhookId": "az900-tg-trigger",
        "credentials": {
          "telegramApi": {
            "id": "az900tgbot1",
            "name": "AZ900 Telegram Bot"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const update = $input.first().json;\n\nlet text = '';\nlet chatId = '';\n\nif (update.message) {\n  text = (update.message.text || '').trim();\n  chatId = String(update.message.chat.id);\n} else if (update.callback_query) {\n  text = (update.callback_query.data || '').trim();\n  chatId = String(update.callback_query.message.chat.id);\n}\n\nif (chatId !== 'YOUR_TELEGRAM_CHAT_ID') return [];\nif (!text) return [];\n\nreturn [{ json: { text, chatId } }];"
        },
        "id": "az900-ans-02",
        "name": "Extract Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5901/route",
          "sendBody": true,
          "contentType": "json",
          "body": "={{ JSON.stringify({ text: $json.text }) }}",
          "options": {
            "timeout": 650000
          }
        },
        "id": "az900-ans-03",
        "name": "Route Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-has-output",
                "leftValue": "={{ $json.output }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "name": "filter.operator.notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "az900-ans-04",
        "name": "Has Response?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          920,
          300
        ]
      },
      {
        "parameters": {
          "chatId": "YOUR_TELEGRAM_CHAT_ID",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "id": "az900-ans-05",
        "name": "Send to Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1160,
          240
        ],
        "credentials": {
          "telegramApi": {
            "id": "az900tgbot1",
            "name": "AZ900 Telegram Bot"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Extract Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message": {
        "main": [
          [
            {
              "node": "Route Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Message": {
        "main": [
          [
            {
              "node": "Has Response?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Response?": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true
    },
    "pinData": {},
    "createdAt": "2026-03-26 14:40:38.846",
    "updatedAt": "2026-03-26 14:51:22"
  },
  {
    "id": "az900summ001",
    "name": "AZ-900 Daily Summary",
    "description": null,
    "active": true,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 1 * * *"
              }
            ]
          }
        },
        "id": "az900-summ-01",
        "name": "7pm CST Daily",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          200,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:5901/summary",
          "options": {
            "timeout": 30000
          }
        },
        "id": "az900-summ-02",
        "name": "Send Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          300
        ]
      }
    ],
    "connections": {
      "7pm CST Daily": {
        "main": [
          [
            {
              "node": "Send Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "pinData": {},
    "createdAt": "2026-03-27 01:43:36.812",
    "updatedAt": "2026-03-27 01:43:36.812"
  }
]